.Portfolio {
  background-color: rgb(192, 206, 192);
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.Btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 25px;
  padding-left: 0px;
}

i {
  font-size: 30px;
  color: rgb(84, 84, 84);
  /* display: flex; */
}

.Icons {
  display: flex;
  justify-content: flex-end;
}

.Projects {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 25px;
}

.Project {
  width: 550px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(164, 164, 164);
  border: 3px solid rgb(135, 133, 133);
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 20%);
  color: rgb(242, 244, 243);
  cursor: pointer;
  animation: floating 3s ease-in-out infinite;
  position: relative;
  right: 0px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.Project:hover {
  width: 550px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(164, 164, 164);
  border: 3px solid rgb(135, 133, 133);
  /* color: rgb(147, 147, 245); */
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: none;
  color: rgb(242, 244, 243);
  box-shadow: 12px 12px 2px 1px rgb(147 147 245 / 20%);
  right: 70px;
  animation: floating;
  animation-play-state: paused;
}

.Blob {
  display: block;
  width: 265px;
  height: 255px;
  background-color: #8fb6a2;
  border-radius: 117% 54% 50% 50% / 67% 59% 44% 40%;
  background-image: radial-gradient(#8fb6a2, #c1d2c9);
}

.Btn-project {
  background: transparent;
  border: none;
  cursor: pointer;
}

.Btn-project a:link {
  text-decoration: none;
}

.Btn-project a:visited {
  text-decoration: none;
}

.Btn-project a:hover {
  text-decoration: none;
}

.Btn-project a:active {
  text-decoration: none;
}