.Portfolio {
  background-color: rgb(201, 197, 219);
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.Btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

i {
  font-size: 30px;
  color: rgb(84, 84, 84);
  display: flex;
}
