.Portfolio {
  background-color: rgb(159, 172, 159);
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.Btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

i {
  font-size: 30px;
}
